body {
  margin: 0;
  font-family: 'Century Gothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(89deg, #d83bff 0%, #5effb4 100%);
}

button{
  cursor: pointer;
}